body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('https://cdn.pixabay.com/photo/2016/02/09/19/57/aurora-1190254_960_720.jpg');
    background-size: cover;
}

.caixa-login{
    width: 300px;
    padding: 80px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.caixa-login h1{
    color: #ccc;
    text-transform: uppercase;
}


.caixa-login input[type="text"], input[type="password"]
{
    border: 0;
    background: transparent;
    outline: none;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 14px;
    width: 200px;
    border: 1px solid #718093;
    border-radius: 19px;
    color: #ccc;
    transition: 0.6s;

}

.caixa-login input[type="text"]:focus, input[type="password"]:focus
{
    width: 85%;
    border-color: #4cd137;
}


.caixa-login input[type="submit"]{
    display: block;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 45px;
    margin: 25px auto;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.caixa-login input[type="submit"]:hover
{
    transition: .5s;
    background: #2ecc71;
}